// Подключение шрифтов
@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}

// Обнуление стилей
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Общий контейнер
body{
    width: 1920px;
    margin: 0 auto;
}

// Стили для шапки сайта
.header{
    height: 1080px;
    padding: 20px 0 0 0;
    background: radial-gradient(83.15% 154.4% at 10% 13.52%, #1E212C 0%, #232441 56.38%, #1E212C 100%);
    
    &__img{
        &__1{
            position: absolute;
            margin: 257px 0 0 245px;
        }
        &__2{
            position: absolute;
            margin: 680px 0 0 948px;
        }
        &__3{
            position: absolute;
            margin: 64px 0 0 0;
        }
        &__4{
            position: absolute;
            margin: 113px 0 0 943px;
        }
        &__5{
            position: absolute;
            margin: 290px 0 0 1140px;
        }
        &__6{
            position: absolute;
            margin: 105px 0 0 1753px;
        }
        
    }

    &__content{
        width: 1230px;
        margin: 0 auto;
        display: flex;
        align-items: center;

        nav{
            width: 500px;
            display: flex;
            justify-content: space-between;
            margin-left: 60px;
            font-family: Lato;
            font-weight: 700;
            opacity: 0.6;

            a{
                text-decoration: none;
                color: white;
            }
        }

        &__services{
            width: 84px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__btn{
            width: 200px;
            height: 52px;
            background-color: #7772F1;
            color: white;
            margin-left: 340px;
            border: none;
            border-radius: 4px;
            font-family: Lato;
            font-weight: 700;
            letter-spacing: 0.5px;
        }
    }
    
    // Стили для баннера
    &__banner{
        padding: 200px 0 0 345px;

        &__content{
            
            &__title{
                width: 810px;
                font-size: 72px;
                font-family: Lato;
                font-weight: 900;
                letter-spacing: 1px;
                color: white;

                span{
                    color: #7772F1;
                }
            }

            &__buttons{
                width: 402px;
                margin: 44px 0 0 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__btn{
                    width: 220px;
                    height: 52px;
                    color: white;
                    background: none;
                    border: 1px solid white;
                    border-radius: 4px;
                    font-family: Lato;
                    font-weight: 700;
                    letter-spacing: 0.5px;
                }

                &__video{
                    display: flex;
                    align-items: center;
                    font-family: Lato;
                    font-weight: 700;
                    color: white;
                }
            }
        }

        &__points{
            width: 1231px;
            margin: 372px 0 0 0;
            display: flex;
            justify-content: space-between;

            &__item{
                display: flex;
                align-items: center;

                p{
                    font-family: Lato;
                    font-size: 20px;
                    font-weight: 700;
                    color: white;
                    margin-left: 20px;
                }

                
            }

            hr{
                display: flex;
                border: 1px solid #DADBDD;
                opacity: 0.4;
            }
        }
    }
}

.info{
    padding: 120px 0 0 345px;
    
    &__content{
        display: flex;

        &__text{
            width: 630px;
            font-family: Lato;
            font-size: 28px;
            font-weight: 700;
            line-height: 42px;
            color: #1E212C;
        }

        &__img{
            width: 495px;
            margin: 0 0 0 105px;

            &__wrapperFirst{
                display: flex;
                justify-content: space-between;
            }
            &__wrapperSecond{
                display: flex;
                justify-content: space-between;
                margin: 32px 0 0 0;
            }

            &__card{
                display: flex;
                align-items: center;

                p{
                    width: 136px;
                    margin: 0 0 0 16px;
                    font-family: Lato;
                    font-size: 14px;
                    line-height: 21px;
                    color: #424551;
                }
            }
        }
    }

    &__clients{
        width: 1230px;
        display: flex;
        justify-content: space-between;
        margin: 180px 0 0 0;
    }
}

.agency{
    margin: 39px 0 0 0;
    &__background{
        &__1{
            position: absolute;
            margin: 0 0 0 150px;
            z-index: 1;
        }
        &__2{
            position: absolute;
            margin: 445px 0 0 1648px;
        }
        &__3{
            position: absolute;
            margin: 924px 0 0 0;
        }
    }

    &__content{
        position: relative;
        z-index: 2;
        width: 1230px;
        margin: 0 0 0 345px;
        padding: 131px 0 0 0;
        display: flex;
        justify-content: space-between;

        &__text{
            margin: 80px 0 0 0;
            font-family: Lato;

            h1{
                font-size: 46px;
                color: #1E212C;
            }

            p{
                width: 390px;
                color: #787A80;
                line-height: 25.6px;
                margin: 40px 0 0 0;
            }

            &__btn{
                width: 161px;
                height: 44px;
                background-color: #7772F1;
                border: none;
                border-radius: 4px;
                margin: 48px 0 0 0;
                font-family: Lato;
                font-weight: 700;
                font-size: 14px;
                color: white;
            }
        }
    }

    &__achievement{
        width: 736px;
        margin: 180px 0 0 592px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        font-family: Lato;

        h2{
            width: 148px;
            text-align: center;
            margin: 53px 0 0 0;
            position: absolute;
            font-size: 32px;
            color: #1E212C;
        }

        p{
            font-size: 14px;
            color: #424551;
            margin: 20px 0 0 0;
        }
    }

    &__ourServices{
        width: 1315px;
        margin: 0 auto;
        margin-top: 180px;

        &__title{
            text-align: center;
            font-family: Lato;
            font-size: 46px;
            font-weight: 900;
            color: #1E212C;
        }

        &__menu{
            width: 1230px;
            margin: 40px 0 0 0;
            display: flex;
            justify-content: space-between;
            a{
                width: 246px;
                height: 46px;
                text-decoration: none;
                color: #9A9CA5;
                font-family: Lato;
                font-weight: 700;
                
                border-radius: 4px;
                text-align: center;
                padding: 10px 0 0 0;
            }
            a:nth-of-type(1){
                color: #7772F1;
                border: 1px solid;
            }
        }

        &__worflow{
            margin: 60px 0 83px 0;

            &__content{
                display: flex;

                &__text{

                    &__title{
                        width: 390px;
                        font-family: Lato;
                        font-weight: 700;
                        font-size: 28px;
                        color: #1E212C;
                        line-height: 42px;
                    }
                
                    &__points{
                        margin: 24px 0 0 0;

                        &__point{
                            height: 26px;
                            margin: 12px 0 0 0;
                            display: flex;
                            align-items: center;

                            p{
                                margin-left: 12px;
                                font-family: Lato;
                                color: #424551;
                            }
                        }
                    }

                    &__buttons{
                        width: 328px;
                        margin: 48px 0 0 0;
                        display: flex;
                        justify-content: space-between;

                        &__more{
                            width: 140px;
                            height: 44px;
                            border: 1px solid #7772F1;
                            background: none;
                            border-radius: 4px;
                            font-family: Lato;
                            font-weight: 700;
                            font-size: 14px;
                            color: #7772F1;
                        }

                        &__try{
                            width: 166px;
                            height: 44px;
                            border: none;
                            background-color: #7772F1;
                            border-radius: 4px;
                            color: white;
                            font-family: Lato;
                            font-size: 14px;
                            font-weight: 700;
                        }
                    }
                }

                &__img{
                    margin: 0 0 0 143px;
                }
            }
        }
    }
}

.analysis{
    height: 556px;
    background-color: #1E212C;
    padding: 80px 0 0 345px;

    &__background{
        position: absolute;
        margin: 50px 0 0 1389px;
    }

    &__content{
        width: 1230px;
        display: flex;
        justify-content: space-between;

        &__text{

            &__title{
                height: 60px;
                font-family: Lato;
                font-size: 46px;
                font-weight: 900px;
                color: white;
            }

            &__inputs{
                margin: 74px 0 0 0;
                input{
                    height: 52px;
                    background-color: #FFFFFF1F;
                    border: 1px solid #FFFFFF33;
                    border-radius: 4px;
                }

                &__two{
                    width: 600px;
                    display: flex;
                    justify-content: space-between;
                    input{
                        width: 285px;
                    }
                }

                &__one{
                    input{
                        width: 600px;
                        margin: 58px 0 0 0;
                    }
                }
            }

            &__sending{
                width: 600px;
                display: flex;
                justify-content: space-between;
                margin: 48px 0 0 0;

                &__agree{
                    width: 315px;
                    display: flex;
                    align-items: baseline;

                    p{
                        margin: 0 0 0 12px;
                        font-family: Lato;
                        line-height: 25.6px;
                        color: white;
                    }
                }

                &__btn{
                    width: 220px;
                    height: 52px;
                    background-color: #7772F1;
                    border: none;
                    border-radius: 4px;
                    font-weight: 700;
                    font-size: 16px;
                    letter-spacing: 0.5px;
                    color: white;
                }
            }
        }
    }
}